@charset "utf-8";
/* CSS Document */


body {
    text-align: center;
    color: #1C3D19;
    background-image: url(img/2C8D8694-D590-4211-BA2E-E11EA8881E38.png);
    width: 1248px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /* [disabled]border-color: #20411D; */
    /* [disabled]border-style: solid; */
    /* [disabled]border-width: 10px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}

/* CSS Document */

.hdr {
    width: 1248px;
    height: 150px;
    background-color: #C0E1CA;
    margin-top: -10px;
    margin-bottom: auto;
    margin-right: 0px;
}
.nvg {
    text-decoration: none;
    background-color: #C0E1CA;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: auto;

}
a {
    color: #20411E;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
a:hover
{
	background:#20411E;
	color:#C0E1CA;}


.mon {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 650px;
    margin-bottom: auto;
}
.txt {
    width: 624px;
    margin-left: 30px;
    margin-top: -327px;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 16px;
    text-align: left;
}
